{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    {# About  #}
    <section class="pt-0 bg-app-clear-gray dark:bg-app-dark-black">
        <div class="items-start px-4 lg:px-4 py-8 lg:py-32 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2">
            <div class="mb-12 lg:mb-0 text-app-dark-black dark:text-app-dark-gray2">
                <h2
                        class="text-h2-about-mob lg:text-h2-about-desk leading-normal font-sora-semiBold"
                >
                    Lisez.<br>
                    <span
                            class="text-transparent bg-clip-text bg-gradient-to-r from-app-clear-purple2 to-app-clear-purple"
                    >
                        Suivez. <br>
                    </span>
                    Répétez.

                </h2>
            </div>
            <div
                    class="lg:max-w-xl font-sora-regular text-text-mob lg:text-text-desk text-app-clear-black dark:text-app-dark-gray2"
            >
                <p class="mb-4 lg:mb-10">
                    MangaSync est une application dédiée aux passionnés de mangas qui recherchent une solution simple
                    et efficace pour suivre leur progression de lecture.
                </p>
                <p class="mb-4 lg:mb-10">
                    Notre mission est claire : simplifier votre expérience de lecture de scans. Chaque lecteur a ses préférences
                    et son rythme, c’est pourquoi MangaSync propose une solution sans tracas pour suivre vos mangas.
                </p>
                <p>
                    Créez votre compte MangaSync pour maximiser votre plaisir de lecture. Accédez à votre scanthèque de n’importe où
                    et synchronisez votre progression en temps réel. Par défaut, votre liste de lecture est sauvegardée dans votre
                    navigateur, mais connectez-vous pour éviter toute perte de données.
                </p>
            </div>
        </div>
    </section>

    {# Team #}
    <section class="bg-app-clear-white dark:bg-app-dark-gray1">
        <div class="gap-4 lg:gap-16 items-center py-8 px-4 lg:py-16 lg:px-6 mx-auto max-w-screen-xl grid grid-cols-1 lg:grid lg:grid-cols-2">
            <div class="grid grid-cols-2 gap-4 mt-4 lg:mt-8 order-2 lg:order-1">
                <div class="px-2 lg:px-0 bg-white rounded-lg dark:bg-transparent">
                    <img class="w-full rounded-lg p-2 lg:p-4 border border-app-clear-black dark:border-app-dark-gray2"
                         src="{{ asset('build/images/octron.jpg') }}"
                         alt="Octron"
                    >
                    <h3
                            class="my-4 text-title-manga-mob lg:text-title-manga-desk line-clamp-2 font-sora-semiBold tracking-normal text-app-clear-black dark:text-app-dark-gray2">
                        Octron
                    </h3>
                </div>
                <div class="px-2 lg:px-0 bg-white rounded-lg dark:bg-transparent">
                    <img class="lg:mt-4 w-full rounded-lg p-2 lg:p-4 border border-app-clear-black dark:border-app-dark-gray2"
                         src="{{ asset('build/images/smata.jpg') }}"
                         alt="Smata"
                    >
                    <h3
                            class="my-4 text-title-manga-mob lg:text-title-manga-desk line-clamp-2 font-sora-semiBold tracking-normal text-app-clear-black dark:text-app-dark-gray2">
                        Smata
                    </h3>
                </div>
            </div>
            <div class="px-4 lg:px-0 max-w-full lg:max-w-sm text-app-clear-black dark:text-app-dark-gray2 order-1 lg:order-2">
                <h2 class="mb-10 lg:mb-20 text-h2-about-team-mob lg:text-h2-about-team-desk font-sora-semiBold ">
                    L'équipe
                </h2>
                <p class="mb-4 font-sora-regular text-text-mob lg:text-text-desk">
                    Pour toute question ou remarque, n’hésitez pas à nous contacter à : hello@labytech.fr
                </p>
            </div>
        </div>
    </section>
{% endblock %}
