{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        {% if app.user %}
            <li><code><a href="{{ path('security_logout') }}">Logout</a></code></li>
        {% else %}
            <li><code><a href="{{ path('security_login') }}">Login</a></code></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li><code><a href="{{ path('admin_index') }}">Admin dashboard</a></code></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
