<div{{ attributes }}>
    <!-- component html -->
    <a
            href="{{ pathLink }}"
            title="{{ title }}"
            class="text-cta-404-mob md:text-cta-404-tab lg:text-cta-404-desk px-8 py-3 lg:px-16 lg:py-3.5 text-center me-2 mb-2 text-app-clear-white bg-app-clear-purple3 font-sora-semiBold hover:text-app-dark-black hover:bg-app-dark-purple rounded-full dark:border-app-dark-purple"
    >
        {{ title }}
    </a>
</div>
