<div{{ attributes }}>
    <!-- component html -->
    <a
            href="#"
            title="{{ title }}"
            class="text-cta-mob lg:text-cta-desk px-16 py-3.5 text-center me-2 mb-2 text-app-dark-gray1 font-sora-semiBold hover:text-app-clear-white hover:bg-app-clear-purple ring-4 ring-app-clear-purple focus:ring-4 focus:outline-8 focus:ring-app-clear-purple rounded-full dark:border-app-clear-purple dark:text-app-dark-gray2 dark:hover:text-app-dark-gray2 dark:hover:bg-app-clear-purple dark:focus:ring-app-clear-purple"
    >
        {{ title|upper }}
    </a>
</div>
