<div{{ attributes }}>
    <!-- component html -->
    <a
            href="#"
            title="{{ title }}"
            class="text-app-dark-gray1 hover:text-app-clear-white hover:bg-app-clear-purple ring-4 ring-app-clear-purple focus:ring-4 focus:outline-8 focus:ring-app-clear-purple font-sora-semiBold rounded-full text-xl px-6 py-3.5 text-center me-2 mb-2 dark:border-app-clear-purple dark:text-app-dark-gray2 dark:hover:text-app-dark-gray2 dark:hover:bg-app-clear-purple dark:focus:ring-app-clear-purple"
    >
        {{ title|upper }}
    </a>
</div>
