<div{{ attributes }}>
    <!-- component html -->
    <a
            class="text-[2rem] lg:text-[1.5rem] px-5 py-2.5 text-center inline-flex items-center font-sora-semiBold text-app-clear-black dark:text-app-dark-gray2 bg-transparent hover:text-app-focus-purple dark:hover:text-app-focus-purple rounded-lg "
            title="{{ title }}"
            href="{{ pathReturn }}"
    >
        <svg class="ml-2 mr-2 w-10 h-6 lg:w-4 lg:h-4 text-app-clear-black dark:text-app-dark-gray2 hover:text-app-focus-purple dark:hover:text-app-focus-purple" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
        </svg>
        {{ title }}
    </a>
</div>
