<div{{ attributes }}>
    <!-- component html -->
    <section class="bg-app-clear-gray dark:bg-app-dark-black">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <h1
                    class="mb-4 text-6xl font-sora-bold tracking-tight leading-none text-app-clear-black md:text-5xl dark:text-app-dark-gray2"
            >
            <span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-app-clear-purple2 to-app-clear-purple"
            >
                {{ title }}
            </span>
            </h1>
        </div>
    </section>
</div>
